<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.csqn.core">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:name="io.csqn.core.BaseApplication"
        android:theme="@style/AppTheme"/>
</manifest>
